= render "products/sub_header"
.complete-wrapper
  .white-area
    .registration
      ユーザー登録が完了しました
    .hr
    .credit-registration
      = link_to credit_card_path(current_user) do
        .btn
          クレジットカード登録（任意）
    .credit-information 
      カードは商品購入時に必要です
    .mypage
      = link_to user_path(current_user.id) do
        .btn
          マイページへ移動
= render "products/sub_footer"