// ユーザー詳細ページ
.userShow{
  width:100%;
  background-color: #F5F5F5;
  height:1050px;
  &__container{
    padding:40px;
    display:flex;
    width:70%;
    margin:0 auto;
    &__left{
      ul{
        background-color:#fff;
        a{
          text-decoration: none;
          color:#4E4E4E;
        }
        li{
          border:1px solid #F5F5F5;
          padding:10px;
          width:280px;
          height:50px;
          &:hover{
            background-color: #fafafa;
            opacity:1;
          }
        }
      }
      &__index{
        &__name{
          font-weight:bold;
          color:#4E4E4E;
          padding-bottom:10px;
        }
        &__content{
          li{
            position:relative;
          }
          &--icon{
           position: absolute;
           right:20px;
           top:15px;
           color:#CCC;
          }
        }
      }
      &__config{
        padding-top:40px;
        &__name{
          font-weight:bold;
          color:#4E4E4E;
          padding-bottom:10px;
        }
        &__content{
          li{
            position:relative;
          }
        }
      }
    }
    &__right{
      margin-left:40px;
      padding-top:35px;
      
      &__profile{
        width:700px;
        height:200px;
        padding:40px;
        background-image: image-url("users/user-bg.jpg");
        border-radius:5px;
        &__image{
          margin:0 auto;
          width:60px;
          height:60px;
          margin-bottom:5px;
          &--icon{
            width:60px;
            height:60px;
            border-radius:50%;
          }
        }
        &__name{
          font-weight:bold;
          text-align:center;
          font-size:14px;
          
        }
        &__product{
          display:flex;
          padding-top:10px;
          justify-content: center;
          &__value{
            display:flex;
            padding-right:20px;
            &--name{
              font-size:14px;
              padding-right:10px;
            }
            &--count{
              font-size:14px;
              line-height:20px;
            }
          }
          &__sell{
            display: flex;
            &--name{
              font-size:14px;
              padding-right:10px;
            }
            &--count{
              font-size:14px;
              line-height:20px;
            }
          }
        }
      }
      &__list{
        background-color: #fff;
        width:700px;
        height:280px;
        margin-top:20px;
        border-radius:5px;
        overflow:scroll;
        &__name{
          border-bottom:1px solid #F5F5F5;
          padding:10px;
          p{
            text-align:center;
            font-weight:bold;
            font-size:20px;
          }
        }
        &__content{
          padding:20px;
          display:flex;
          position:relative;
          
          &:hover{
            opacity:1;
            background-color:#fafafa;
          }
          &--icon{
            position:absolute;
            right:20px;
            top:40px;
          }
          &__image{
            padding-right:30px;
            &--icon{
              width:50px;
              height:50px;
              border-radius:5px;
            }
          }
          &__detail{
            &__name{
              font-weight:bold;
              padding-bottom:5px;
            }
            &__price{
              font-size:14px;
            }
          }
        }
      }
    }
  }
}