.breadcrumbs-list{
  padding:15px;
  padding-left:50px;
  border-top: 1px solid #eee;
  font-size:14px;
  box-shadow:0 3px 3px 0px rgba(0,0,0,0.16);
  position: relative;
  a{
    color:black;
    padding:0 5px;
    &:hover{
      color:orange;
    }
  }
  span{
    padding:0 5px;
  }
}

.current{
  font-weight:bold;
}

