.categoryIndex{
  width:100%;
  background-color: #F5F5F5;
  &__container{
    width:52%;
    margin:0 auto;
    padding:40px 0;
    &__name{
      margin: 0 auto;
      p{
        font-weight: bold;
        font-size:20px;
      }
    }
    &__pickup{
      padding:30px 0;
      a{
        color:black;
        text-decoration: none;
      }
      &__content{
        background-color: white;
        padding:10px 30px;
        display:inline-block;
        border-radius: 5px;
        box-shadow:rgba(0, 0, 0, 0.18) 0px 2px 4px;
        margin:5px;
        &:hover{
          color:white;
          background-color: #3CCACD;
        }
      }
    }
    &__list{
      background-color: #fff;
      border-radius: 5px;
      width:100%;
      margin-bottom:30px;
      &__name{
        background-color: #3CCACD;
        border-radius: 5px 5px 0 0;
        height:40px;
        width:100%;
        color:white;
        font-weight: bold;
        line-height: 40px;
        padding-left:20px;
        font-size:20px;
      }
      &__content{
        padding:40px;
        &__item{
          &__name{
            font-weight: bold;
            font-size:14px;
            padding-bottom: 20px;
            display: inline-block;
          }
          &__list{
            padding:10px 20px;
            width:100%;
            margin-bottom:10px;
           
            li{
              width:50%;
              float:left;
              color:gray;
              font-size:14px;
              line-height:28px;
              font-weight: normal;
              &:hover{
                text-decoration: underline;
              }
            } 
          }
          
        }
      }
    }
  }
}
