.creditNew{
  background-color:white;
  width:650px;
  height:600px;
  border-radius: 5px;
  &__container{
    width:100%;
    margin:0 auto;
    &__name{
      border-bottom:1px solid #F5F5F5;
      padding:20px;
      p{
        text-align:center;
        font-weight:bold;
        font-size:24px;
      }
    }
    &__form{
      padding:20px;
      width:65%;
      margin:0 auto;
      label{
        display: block;
        font-weight:bold;
        span{
          font-size:12px;
          background-color:red;
          color:white;
          padding:0 3px;
          display:inline-block;
          border-radius:2px;
          vertical-align:1px;
          margin-left:2px;
        }
      }
    }
  }
}

.number{
  margin:10px 0;
  padding:10px;
  width:370px;
  height:45px;
  border:solid 1px #CCCCCC;
  border-radius:5px;
}

.exp_month{
  margin:10px 0;
  padding:10px;
  width:80px;
  height:45px;
  border:solid 1px #CCCCCC;
  border-radius:5px;
  margin-right:10px;
  
}

.exp_year{
  margin:10px 0;
  padding:10px;
  width:80px;
  height:45px;
  border:solid 1px #CCCCCC;
  border-radius:5px;
  margin-right:10px;
}

.cvc{
  margin:10px 0;
  padding:10px;
  width:370px;
  height:45px;
  border:solid 1px #CCCCCC;
  border-radius:5px;
  margin-right:10px;
}

#token_submit{
  color:white;
  background-color:#3CCACD;
  border:none;
  width:370px;
  height:45px;
  margin:35px auto;
  border-radius:2px;
  font-weight: bold;
  &:hover{
    opacity:0.5;
  }
}

.backbtn{
  text-align:center;
}

.creditIndexList{
  display:flex;
  width:100%;
  padding-bottom:30px;
  img{
    width:40px;
    height:30px;
    margin-right:10px;
    padding:0;
  }
}

.cvcinfo{
  display:flex;
  text-align: left;
  color:skyblue;
  font-size:14px;
  width:50%;
  margin-left:auto;
  padding-top:5px;
  &:hover{
    opacity:0.5;
  }
  p{
    line-height: 14px;
  }
  icon{
    line-height: 20px;
  }
}

.credit_complete{
  background-color: #fff;
  width:700px;
  height:280px;
  margin-top:35px;
  margin-left:40px;
  border-radius:5px;
  // padding-top:100px;
  &__container{
   margin:0 auto;
   padding:20px;
   &__info{
     background-color: orange;
     border-radius: 5px;
     padding:15px;
     color:white;
     display: flex;
     p{
       line-height: 24px;
     }
     &__icon{
       line-height: 22px;
       padding-right:5px;
     }
   }
   &__btns{
     padding:10px;
     margin:0 auto;
     display: flex;
     justify-content: space-around;
     padding-top:80px;
     a{
      color:white;
      text-decoration: none;
      font-weight: bold;
    }
   }
  }
}

.my_page_link{
  background-color: #3CCACD;
  width:180px;
  height:60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50px;
  &:hover{
    opacity:0.5;
  }
  a{
    color:white;
    text-decoration: none;
  }
}

.credit_cards_index_link{
  background-color: #3CCACD;
  width:180px;
  height:60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50px;
  &:hover{
    opacity:0.5;
  }
  a{
    color:white;
    text-decoration: none;
  }
}