*{
  box-sizing: border-box;
}

body{
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

.js-file {
  display: none;
}


a {
  text-decoration: none;


// 商品出品
.Exhibition-wrapper {
  background-color: rgb(241, 241, 241);
  height: 2000px;
  font-size: 15px;
  
  .p {
    &__image {
      padding-bottom: 10px;
    }
    &__upload {
      font-size: 25px;
    }
  }
  
  .hr {
    border-width: 1px 0 0 0;
	  border-style: solid;
  	border-color: rgb(241, 241, 241);
  }

  .required {
    color: rgb(255, 255, 255);
    background-color: red;
    padding: 0 5px 0 5px;
  }
  
  .Exhibition-form {
    background-color: rgb(255, 255, 255);
    height:2000px;
    width: 700px;
    margin:0 auto;
  }

  .product_images {
    padding:30px;
    .image__text {
      margin-top: 16px;
      font-size: 14px;
      line-height: 1.4em;
    }
    .upload-box {
      margin-top: 16px;
      .upload-area{
        display: flex;
        flex-wrap: wrap;
        margin: -8px -4px 0px;
        .images__upload-box {
          flex: 1 1 0%;
          height: 165px;
          margin-top: 8px;
          margin: 0 4px;
          #images__upload{
            place-content: center;
            -webkit-box-align: center;
            display: flex;
            height: 100%;
            background-color: rgb(230, 230, 230);
            flex-wrap: wrap;
            -webkit-box-pack: center;
            align-items: center;
            text-align: center;
            border:dashed 1px rgb(192, 192, 192);
            cursor: pointer;
            position: relative;
            transition: all 0.5s ease-out 0s;
            margin-top: 5px;
          }
        }
        .previewimg {
          width: 19%;
          margin: 0 2px;
          margin-top: 8px;
          background-color: rgb(245,245,245);
          img {
            height: 118px;
            display: block;
            margin: 0 auto;
          }
          .border-style{
            border-color: rgb(204, 204, 204);
            border-top-width: 1px;
            border-left: 0 solid #efefef;
            border-bottom: 0 solid #efefef;
            border-right: 0 solid #efefef;
            border-top-style: solid;
          }
          .js-remove {
            -webkit-box-align: center;
            align-items: center;
            color: rgb(0, 149, 238);
            cursor: pointer;
            display: flex;
            height: 32px;
            -webkit-box-pack: center;
            justify-content: center;
          }
        }
      }
    }
    #image-box {
      display: block;
      display: none;
    }
}
  .product {
    padding: 30px;
    height: 300px;
  }

  .name {
    &__text {
      padding-bottom:10px;
    }
    &__field {
      .text {
        border: 1px solid #000000;  /* 枠線 */
        border-radius: 4px;   /* 角丸 */
        padding: 0.5em;          /* 内側の余白量 */
        background-color: rgb(255, 255, 255);  /* 背景色 */
        width: 100%;             /* 横幅いっぱいにする */
        box-sizing: border-box;  /* ※これがないと横にはみ出る */
        height: 40px;           /* 高さ */
        font-size: 15px;          /* 文字サイズ */
        line-height: 1.2;        /* 行の高さ */
        &:focus {
          outline: none;
          border: 1px solid #1b6aff;
        }
      }
      
    }
    
  }

  .explanation {
    padding-top: 20px;
    &__text {
      padding-bottom: 10px;
    }

    &__field {
      .textlines {
        border: 1px solid #000000;  /* 枠線 */
        border-radius: 4px;   /* 角丸 */
        padding: 0.5em;          /* 内側の余白量 */
        background-color: rgb(255, 255, 255);  /* 背景色 */
        width: 100%;             /* 横幅いっぱいにする */
        box-sizing: border-box;  /* ※これがないと横にはみ出る */
        height: 120px;           /* 高さ */
        font-size: 15px;          /* 文字サイズ */
        line-height: 1.2;        /* 行の高さ */
        &:focus {
          outline: none;
          border: 1px solid #1b6aff;
        }
      }
    }
  }
  .product_details {
    padding: 30px;
    height: 360px;
    // brandを非表示のためheight削除
    &__text {
      color: #505050;
      padding-bottom: 15px;
    }
    .category {
      &__text {
        padding-bottom:10px;
      }
      &__list_box {
        &--child{
          margin-top:20px;
          .text {
            border: 1px solid #000000;  /* 枠線 */
            border-radius: 4px;   /* 角丸 */
            padding: 0.5em;          /* 内側の余白量 */
            background-color: rgb(255, 255, 255);  /* 背景色 */
            width: 100%;             /* 横幅いっぱいにする */
            box-sizing: border-box;  /* ※これがないと横にはみ出る */
            height: 40px;           /* 高さ */
            font-size: 15px;          /* 文字サイズ */
            line-height: 1.2;        /* 行の高さ */
            &:focus {
              outline: none;
              border: 1px solid #1b6aff;
            }
          }
        }
        &--gc{
          margin-top:20px;
          .text {
            border: 1px solid #000000;  /* 枠線 */
            border-radius: 4px;   /* 角丸 */
            padding: 0.5em;          /* 内側の余白量 */
            background-color: rgb(255, 255, 255);  /* 背景色 */
            width: 100%;             /* 横幅いっぱいにする */
            box-sizing: border-box;  /* ※これがないと横にはみ出る */
            height: 40px;           /* 高さ */
            font-size: 15px;          /* 文字サイズ */
            line-height: 1.2;        /* 行の高さ */
            &:focus {
              outline: none;
              border: 1px solid #1b6aff;
            }
          }
        }
        .text {
          border: 1px solid #000000;  /* 枠線 */
          border-radius: 4px;   /* 角丸 */
          padding: 0.5em;          /* 内側の余白量 */
          background-color: rgb(255, 255, 255);  /* 背景色 */
          width: 100%;             /* 横幅いっぱいにする */
          box-sizing: border-box;  /* ※これがないと横にはみ出る */
          height: 40px;           /* 高さ */
          font-size: 15px;          /* 文字サイズ */
          line-height: 1.2;        /* 行の高さ */
          &:focus {
            outline: none;
            border: 1px solid #1b6aff;
          }
        }

      }
    }
    .brand {
      display: none;
      &__text {
        padding:20px 0 10px 0;
      }
      .text {
        border: 1px solid #000000;  /* 枠線 */
        border-radius: 4px;   /* 角丸 */
        padding: 0.5em;          /* 内側の余白量 */
        background-color: rgb(255, 255, 255);  /* 背景色 */
        width: 100%;             /* 横幅いっぱいにする */
        box-sizing: border-box;  /* ※これがないと横にはみ出る */
        height: 40px;           /* 高さ */
        font-size: 15px;          /* 文字サイズ */
        line-height: 1.2;        /* 行の高さ */
        &:focus {
          outline: none;
          border: 1px solid #1b6aff;
        }
      }
    }
    .condition {
      &__text {
        padding:20px 0 10px 0;
      }
      &__list_box {
        #condition_id {
          border: 1px solid #000000;  /* 枠線 */
          border-radius: 4px;   /* 角丸 */
          padding: 0.2em;          /* 内側の余白量 */
          background-color: rgb(255, 255, 255);  /* 背景色 */
          width: 100%;             /* 横幅いっぱいにする */
          box-sizing: border-box;  /* ※これがないと横にはみ出る */
          height: 40px;           /* 高さ */
          font-size: 15px;          /* 文字サイズ */
          line-height: 1.2;        /* 行の高さ */
          &:focus {
            outline: none;
            border: 1px solid #1b6aff;
          }
        }
      }
    }
  } 
  .sending {
    padding: 30px;
    height: 470px;
    &__text {
      color: #505050;
      padding-bottom: 15px;
    }
    .burden {
      &__text {
        padding:20px 0 10px 0;
      }
      &__list_box {
        #postage_id {
          border: 1px solid #000000;  /* 枠線 */
          border-radius: 4px;   /* 角丸 */
          padding: 0.2em;          /* 内側の余白量 */
          background-color: rgb(255, 255, 255);  /* 背景色 */
          width: 100%;             /* 横幅いっぱいにする */
          box-sizing: border-box;  /* ※これがないと横にはみ出る */
          height: 40px;           /* 高さ */
          font-size: 15px;          /* 文字サイズ */
          line-height: 1.2;        /* 行の高さ */
          &:focus {
            outline: none;
            border: 1px solid #1b6aff;
          }
        }
      }
    }

    .sending_type {
      &__text {
        padding:20px 0 10px 0;
      }
      &__list_box {
        #sendingtype_id {
          border: 1px solid #000000;  /* 枠線 */
          border-radius: 4px;   /* 角丸 */
          padding: 0.2em;          /* 内側の余白量 */
          background-color: rgb(255, 255, 255);  /* 背景色 */
          width: 100%;             /* 横幅いっぱいにする */
          box-sizing: border-box;  /* ※これがないと横にはみ出る */
          height: 40px;           /* 高さ */
          font-size: 15px;          /* 文字サイズ */
          line-height: 1.2;        /* 行の高さ */
          &:focus {
            outline: none;
            border: 1px solid #1b6aff;
          }
        }
      }
    }

    .sending_preficture {
      &__text {
        padding:20px 0 10px 0;
      }
      &__list_box {
        #prefecture_code_id {
          border: 1px solid #000000;  /* 枠線 */
          border-radius: 4px;   /* 角丸 */
          padding: 0.5em;          /* 内側の余白量 */
          background-color: rgb(255, 255, 255);  /* 背景色 */
          width: 100%;             /* 横幅いっぱいにする */
          box-sizing: border-box;  /* ※これがないと横にはみ出る */
          height: 40px;           /* 高さ */
          font-size: 15px;          /* 文字サイズ */
          line-height: 1.2;        /* 行の高さ */
          &:focus {
            outline: none;
            border: 1px solid #1b6aff;
          }
        }
      }
    }

    .sending_day {
      &__text {
        padding:20px 0 10px 0;
      }
      &__list_box {
        #sendingday_id {
          border: 1px solid #000000;  /* 枠線 */
          border-radius: 4px;   /* 角丸 */
          padding: 0.2em;          /* 内側の余白量 */
          background-color: rgb(255, 255, 255);  /* 背景色 */
          width: 100%;             /* 横幅いっぱいにする */
          box-sizing: border-box;  /* ※これがないと横にはみ出る */
          height: 40px;           /* 高さ */
          font-size: 15px;          /* 文字サイズ */
          line-height: 1.2;        /* 行の高さ */
          &:focus {
            outline: none;
            border: 1px solid #1b6aff;
          }
        }
      }
    }
  }

  .price {
    padding: 30px;
    height: 250px;
    &__about {
      color: #505050;
      padding-bottom: 15px;
    }
    .wrapper {
      display:flex;
      justify-content: space-between;
      height:70px;
      &__text {
        
      }
      &__listbox {
          border: 1px solid #000000;  /* 枠線 */
          border-radius: 4px;   /* 角丸 */
          padding: 0.5em;          /* 内側の余白量 */
          background-color: rgb(255, 255, 255);  /* 背景色 */
          width: 250px;             /* 横幅いっぱいにする */
          box-sizing: border-box;  /* ※これがないと横にはみ出る */
          height: 40px;           /* 高さ */
          font-size: 15px;          /* 文字サイズ */
          line-height: 1.2;        /* 行の高さ */
          text-align: right;
          &:focus {
            outline: none;
            border: 1px solid #1b6aff;
        }
      }

    }

    .wrapper_tex {
      display:flex;
      justify-content: space-between;
      height:70px;
      &__text {
      }
      &__view {
      }
    }

    .wrapper_gain {
      display:flex;
      justify-content: space-between;
      height:70px;
      padding-top: 20px;
      &__text {
      }
      &__view {
      }
    }
  }

  .exhibition {
    height: 190px;
    text-align: center;
    &__wrapper {
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
      .exhibition_btn {
        height: 48px;
        width: 360px;
        background-color: #ea352d;
        color: #ffffff;
        display:flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        border-radius: 4px;
        margin-bottom: 20px;
        input {
          background-color: #ea352d;
          color: #F8F8F8;
          border-style: none;
        }
      }
      .draft_btn{
        height: 48px;
        width: 360px;
        background-color: #ccc;
        display:flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        border-radius: 4px;
        color: #222;
      }
    }
    .return {
      a {
        text-decoration: none;
        color: #0095ee;
      }
    }
  }
  .precautions {
    &__text {
      font-size: 12px;
      padding: 0 30px 0 30px;
      height: 100px;
      a {
        color: #0095ee;
      }
    }
  }
}