//パンくずリスト

.breadCrumbs{
  border-top:1px solid #EEEEEE;
  margin-top:15px;
  height:50px;
  box-shadow:0 3px 3px 0px rgba(0,0,0,0.16);
  position:relative;
}

// 商品詳細メイン
.showMain{
  background-color: #F8F8F8;
  width:100%;
  margin:0 auto;
  padding-top:30px;
  padding-bottom:30px;
  &__container{
    width:50%;
    margin: 0 auto;
    &__content{
      width:100%;
      &__topContent{
        background-color: white;
        width:100%;
      }
      }
  }
}

  .itemBox{
    width:100%;
    border-radius: 2px;
    &__editArea{
      display:flex;
      justify-content: space-around;
      margin:0 auto;
      margin-bottom: 30px;
      width:100%;
      &__editBtn{
        color:#fff;
        background-color: #EA352E;
        width:300px;
        height:50px;
        line-height: 50px;
        // padding:10px 30px;
        border-radius: 2px;
        width:100%;
        text-align: center;
        height:50px;
        line-height: 50px;
        font-size: 18px;
        letter-spacing: 5px;
        &:hover{
          opacity:0.8;
        }
      }
      a{
        color:#3CCACD;
        text-decoration: none;
        text-align: right;
        // padding-right:10px;
        font-size:14px;
        font-weight: bold;
        width:45%;
      }
    }
    &__name{
      text-align: center;
      font-weight:bold;
      font-size:36px;
      padding:10px 0;
      letter-spacing: 2px;
      margin-bottom:40px;
      border-bottom: solid #F8F8F8 2px;
    }
    &__body{
      width:100%;
      &--top{
        width:95%;
        margin:0 auto;
        padding-bottom:10px;
        &--image{
          display: block;
          width:80%;
          margin:0 auto;
          object-fit: cover;
          border:1px solid #F8F8F8;
          border-radius: 2px;
          height:350px;
          img{
            object-fit: cover;
          }
        }
      }
      &--bottom{
        margin:0 auto;
        width:85%;
        ul{
          margin:0 auto;
          display: flex;
          justify-content: space-around;
          height:120px;
          width:100%;
          overflow-x: scroll;
          li{
            img{
              display:block;
              width:150px;
              height:120px;
              object-fit: cover;
              border:1px solid #F8F8F8;
              border-radius:2px;
              padding-right:5px;
            }
          }
        }
      }
    }
    &__purchace{
      margin: 0 auto;
      text-align: center;
      padding:30px 0;
      width:100%;
      a{
        text-decoration: none;
      }
      &__btn{
        margin: 0 auto;
        background-color: #3ccace;
        color:#fff;
        width:90%;
        height:70px;
        line-height: 70px;
        font-weight: bold;
        font-size:26px;
        &:hover{
          opacity:0.5;
        }
      }
    }
    &__price{
      margin:0 auto;
      text-align: center;
      padding-top:30px;
      font-weight:bold;
      font-size:46px;
      p{
        span{
          line-height: 56px;
          font-size:40px;
          vertical-align: top;
        }
      span{
        font-size:34px;
        vertical-align: top;
        }
      }
      &--detail{
        font-weight: normal;
        font-size:16px;
      }
    }
    &__itemDetail{
      width:90%;
      margin:0 auto;
      line-height: 2;
      font-size: 20px;
      padding:20px 0;
      overflow: auto;
      background-color: #efefef;
      padding:10px;
      margin-top:20px;
      margin-bottom:20px;
      border-radius: 4px;
      p{
        word-wrap: break-word;
        letter-spacing: 2px;
      }
    }
  
    &__table{
      margin:0 auto;
      &--category{
        display: block;
      }
      table{
        margin:0 auto;
        width:90%;
        tbody{
          border:1px solid #DEDEDE;
          margin:0 auto;
          font-size:14px;
          tr{
            border:1px solid #DEDEDE;
            
            th{
              background-color: #EEEEEE;
              padding:10px 20px;
              text-align: center;
            }
            td{
              background-color: #fff;
              padding:10px 100px 10px 10px;
              a{
                text-decoration:none;
                color:#3CCACD;
                &:hover{
                  opacity:0.5;
                }
              }
            }
          }   
        }
      }
    }
  
    &__optionalArea{
      display:flex;
      justify-content: space-between;
      padding:30px 0;
      width:85%;
      margin:0 auto;
      margin-bottom: 30px;
      a{
        text-decoration: none;
        color:black;
      }
      &--alert{
        display: flex;
        border:solid 1px black;
        border-radius: 4px;
        height:38px;
        font-size:14px;
        line-height: 38px;
        padding:0 10px;
        &:hover{
          opacity:0.5;
        }
        &--logo{
          padding-right:5px;
        }
      }

      .change_area {
        .itemBox__optionalArea__like{
          color:#3CCACD;
          display:flex;
          border:1px solid #FCB340;
          border-radius: 25px;
          padding:10px 10px;
          align-content: center;
          &:hover{
            opacity:0.5;
          }
          &--name{
            display: flex;
            align-content: center;
            line-height:20px;
            &--content{
              display: block;
            }
            &--icon{
              display: block;
              padding-right:3px;
              font-size:14px;
              line-height: 18px;
            }
          }
          &--count{
            padding-left:3px;
          }
        }
      }
    }

    &__optionalArea2{
      display:flex;
      justify-content: space-between;
      padding:30px 0;
      width:85%;
      margin:0 auto;
      a{
        text-decoration: none;
        color:black;
      }
      &--alert{
        display: flex;
        border:solid 1px black;
        border-radius: 4px;
        height:38px;
        font-size:14px;
        line-height: 38px;
        padding:0 10px;
        &:hover{
          opacity:0.5;
        }
        &--logo{
          padding-right:5px;
        }
      }
      &__like{
        color:#3CCACD;
        display:flex;
        border:1px solid #FCB340;
        border-radius: 25px;
        padding:10px 10px;
        align-content: center;
        &:hover{
          opacity:0.5;
        }
        &--name{
          display: flex;
          align-content: center;
          line-height:20px;
          &--content{
            display: block;
          }
          &--icon{
            display: block;
            padding-right:3px;
            font-size:14px;
            line-height: 18px;
            color:#f7e709a6;
          }
        }
        &--count{
          padding-left:3px;
        }
      }
    }
  }
  
  .commentBox{
    margin-top:20px;
    background-color:white;
    padding:20px;
    width:100%;
    margin: 0 auto;
    &__list{
      width:100%;
      padding:10px;
      min-height: 400px;
      margin: 0 auto;
      background-color: #EEEEEE;
      border-radius: 2px;
      margin:20px 0 40px 0;
      &__name{
        font-weight:bold;
        padding-bottom: 20px;
      }
      &__contents{
        max-height:350px;
        overflow: scroll;
        &__content{
          width:95%;
          display: flex;
          margin-bottom:40px;
          position: relative;
          &__btns{
            position:absolute;
            display: flex;
            bottom:-18px;
            right:80px;
            &__deletebtn{
              font-size:8px;
              background-color: #EA352E;
              color:white;
              font-weight: bold;
              margin-right:5px;
              padding: 2px 5px;
              border-radius: 2px;
              &:hover{
                opacity:0.5;
              }
            }
            &__repairbtn{
              font-size:8px;
              background-color: #3CCACD;
              color:white;
              font-weight: bold;
              margin-right: 5px;
              padding:2px;
              border-radius: 2px;
              &:hover{
                opacity:0.5;
              }
            }
          }
          &__user{
            width:20%;
            background-color: #fff;
            margin:0 20px;
            padding:5px 0;
            border-radius: 5px;
            &__image{
              width:50px;
              height:50px;
              border-radius: 25%;
              margin:0 auto;
              
              img{
              width:50px;
              height:50px;
              border-radius: 50%;
              }
            }
            &__detail{
              display: flex;
              margin:0 10px;
              margin-top:10px;
              &__name{
                margin:0 auto;
                text-align: center;
                font-size: 10px;
                font-weight: bold;
                line-height: 20px;
                padding-right:1px;
              }
              &__seller{
                margin:0 auto;
                text-align: center;
                p{
                  background-color: orange;
                  color:white;
                  text-align: center;
                  font-size: 8px;
                  font-weight: bold;
                  display: inline-block;
                  padding:2px;
                  border-radius: 2px;
                }
              }
            }
          }
          &__comment{
            background-color: skyblue;
            position: relative;
            display: inline-block;
            margin: 0px 0 5px 0;
            padding: 7px 10px;
            padding-left:20px;
            width: 60%;
            min-height:80px;
            font-size: 16px;
            border-radius: 15px;
            position:relative;
            &:before{
              content: "";
              position: absolute;
              top: 10px;
              left: 5px;
              margin-left: -15px;
              border: 15px solid transparent;
              border-top: 15px solid skyblue;
            }
            &__top{
              height:85%;
              width:100%;
            }
            &__bottom{
              text-align: right;
              font-size: 10px;
              position:absolute;
              bottom:2px;
              right:10px;
              color: #848484;
            }
          }
        }
        &__other-content{
          width:95%;
          display: flex;
          margin-bottom:40px;
          margin-left:230px;
          position:relative;
          &__btns{
            position:absolute;
            display: flex;
            bottom:-18px;
            right:250px;
            &__deletebtn{
              font-size:8px;
              background-color: #EA352E;
              color:white;
              font-weight: bold;
              margin-right:5px;
              padding: 2px 5px;
              border-radius: 2px;
              &:hover{
                opacity:0.5;
              }
            }
            &__repairbtn{
              font-size:8px;
              background-color: #3CCACD;
              color:white;
              font-weight: bold;
              margin-right: 5px;
              padding:2px;
              border-radius: 2px;
              &:hover{
                opacity:0.5;
              }
            }
          }
          &__comment{
            background-color: pink;
            position: relative;
            display: inline-block;
            margin: 0px 0 5px 0;
            padding: 7px 10px;
            padding-left:20px;
            width: 60%;
            min-height:90px;
            font-size: 16px;
            border-radius: 15px;
            position:relative;
            &:before{
              content: "";
              position: absolute;
              top: 10px;
              right: -10px;
              margin-left: -15px;
              border: 15px solid transparent;
              border-top: 15px solid pink;
            }
            &__top{
              height:85%;
              width:100%;
            }
            &__bottom{
              text-align: right;
              font-size: 10px;
              position:absolute;
              bottom:2px;
              right:10px;
              color: #848484;
            }
          }
        }
        
      }
    
    }
    &__text{
      width:100%;
      margin:0 auto;
      height:100px;
      margin-bottom:20px;
      &:focus{
        outline:0;
      }
    }
    &__detail{
      background-color:#F8F8F8;
      padding:10px;
    }
    &__btn{
      padding:30px;
      margin:0 auto;
      text-align:center;
      &--submit{
        background-color: #3CCACD;
        color:white;
        border:none;
        display: flex;
        width:350px;
        height:50px;
        border-radius:25px;
        margin:0 auto;
        text-align: center;
        line-height: 50px;
        text-align:center;
        font-size:18px;
        &:focus{
          border:none;
          outline:0;
        }
        &:hover{
          opacity:0.8;
        }
        &--icon{
          text-align:center;
          line-height: 50px;
          margin:0 auto;
        }
        p{
          display: inline-block;
        }
      }
      
    }
  }
  
  .links{
    display: flex;
    justify-content: space-between;
    padding-top:10px;
    a{
      text-decoration: none;
      color:#3CCACD;
    }
    &__before{
      display:flex;
      &:hover{
        opacity:0.5;
      }
      &--icon{
        font-size:12px;
        line-height: 26px;
        padding-right:5px;
      }
    }
    &__after{
      display:flex;
      &:hover{
        opacity:0.5;
      }
      &--icon{
        font-size:12px;
        line-height: 26px;
        padding-left:5px;
      }
    }
  }
  
  .relatedItems{
    a{
      color:#3CCACD;
      text-decoration: none;
    }
    &__link{
      padding:30px 0;
      font-weight:bold;
      font-size:20px;
      &:hover{
        opacity:0.5;
      }
    }
    &__list{
      display: flex;
      overflow-y: scroll;
      a{
        text-decoration: none;
        color:black;
      }
      &__item{
        width:250px;
        height:300px;
        background-color: #fff;
        padding:20px;
        border-radius:2px;
        margin-right:10px;
        &:hover{
          opacity:0.8;
        }
        &__image{
          width:200px;
          height:150px;
          margin:0 auto;
          margin-bottom:20px;
          img{
            width:100%;
            height:100%;
            border-radius:5px;
            object-fit: cover;
          }
        }
        &__detail{
          display:flex;
          align-content: center;
          justify-content: space-between;
          
          &__left{
            &--name{
              font-weight:bold;
              font-size:22px;
              padding-bottom:10px;
              letter-spacing: 2px;
            }
            &--price{
              p{
                font-size:18px;
                span{
                  font-size: 18px;
                }
              }
              span{
                font-size:10px;
                font-weight: bold;
              }
            }
          }
          &__right{
            padding-top:30px;
            display: flex;
            &--count{
              padding-left:5px;
            }
          }
        }
      }
    }
  }

// 詳細ページ購入ボタン売り切れ時の表示
#soldout-btn{
  background-color: #848484;
  cursor: not-allowed;
  &:hover{
    opacity:1;
  }
}

.comment_delete{
  color:#848484;
}