.purchase_detail_wrapper {
  background-color: rgb(241, 241, 241);
  height: 1100px;
  font-size: 15px;
  box-sizing: border-box;
  a {
    color: #0095ee;
    text-decoration: none;
  }
  &__form {
    background-color: rgb(255, 255, 255);
    height:1100px;
    width: 700px;
    margin:0 auto;
    
  }

  .hr {
    border-width: 1px 0 0 0;
	  border-style: solid;
    border-color: rgb(241, 241, 241);
    margin: 0 90px;
  }

  .top_text {
    height:30px;
    text-align: center;
    font-size: 24px;
    padding:40px 90px 40px 90px;
  }

  .purchase-product {
    height: 200px;
    padding:30px 90px;
    .product_wrapper {
      display: flex;
      justify-content:space-between;
      .product2 {
        height: 140px;
      }
      .product_detail {
        width:300px;
        .name {
          padding-bottom: 20px;
          }
        .price {
          display:flex;
          justify-content: flex-end;
        }
      }
    }
  }
  .total_price {
    height: 90px;
    padding:30px 90px;
    font-weight: 700;
    display:flex;
    justify-content: space-between;

    &__text {
      font-size:18px;
    }
    &__view {
      font-size: 20px;
    }
  }


  .payment_methods {
    height: 200px;
    padding:30px 90px;
    &__wrapper {
      display:flex;
      justify-content: space-between;
      padding-bottom: 20px;
      .text {
        font-size:18px;
      }
      .change {
        font-size:18px;
      }
      .number1 {
      }
    }
  }

  .shipping {
    height: 200px;
    padding:30px 90px;
    .wrapper {
      display:flex;
      justify-content: space-between;
      padding-bottom: 20px;
      .text {
        font-size:18px;
      }
      .change {
        font-size:18px;
      }
    }
  }
  .about {
    height: 150px;
    padding:30px 90px;
    .text {
      color: #888888;
    }
  }
  .purchase_btn {
    height: 100px;
    padding: 30px 90px;
    display:flex;
    justify-content: center;
    .text {
      height: 48px;
      width: 360px;
      background-color: #ea352d;
      color: #ffffff;
      display:flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      border-radius: 4px;
      margin-bottom: 20px;
    }
  }
}

// 商品削除ページ
#product_deleteBtn{
  width:60%;
  height:60px;
  line-height: 60px;
  border-radius: 5px;
  background-color:#ea352d;
  margin-top:30px;
}

#delete_confirmation{
  height:500px;
}

#delete_change{
  text-align: right;
  padding-right:40px;
  padding-top:70px;
  a{
    color:#3ccace;
  }
}