.purchase_detail_wrapper {
  background-color: rgb(241, 241, 241);
  font-size: 15px;
  box-sizing: border-box;
  a {
    color: #0095ee;
    text-decoration: none;
  }
  &__form {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    width: 700px;
    margin:0 auto;
    padding-bottom:20px;
  }

  .hr {
    border-width: 1px 0 0 0;
	  border-style: solid;
    border-color: rgb(241, 241, 241);
    margin: 0 90px;
  }

  .top_text {
    height:30px;
    text-align: center;
    font-size: 28px;
    line-height: 10px;
    padding:40px 90px 40px 90px;
    font-weight:bold
}
  
  .total_price {
    height: 90px;
    padding:30px 90px;
    font-weight: 700;
    display:flex;
    justify-content: space-between;
    line-height: 30px;
    &__text {
      font-size:18px;
    }
    &__view {
      font-size: 20px;
      display: flex;
    }
  }


  .payment_methods {
    height: 200px;
    padding:30px 90px;
    &__wrapper {
      display:flex;
      justify-content: space-between;
      .text {
        font-size:18px;
        font-weight: bold;
      }
      .change {
        font-size:14px;
        &:hover{
          opacity: 0.5;
        }
      }
    }
  }

  .shipping {
    height: 200px;
    padding:30px 90px;
    padding-left:95px;
    .wrapper {
      display:flex;
      justify-content: space-between;
      padding-bottom: 20px;
      .text {
        font-size:18px;
        font-weight: bold;
      }
      .change {
        font-size:14px;
        &:hover{
          opacity: 0.5;
        }
      }
    }
  }
  .about {
    height: 150px;
    padding:30px 90px;
    .text {
      color: #888888;
    }
  }
  .purchase_btn {
    height: 100px;
    padding: 30px 90px;
    display:flex;
    justify-content: center;
    &:hover{
      opacity:0.8;
    }
    .text {
      height: 48px;
      width: 360px;
      background-color: #ea352d;
      color: #ffffff;
      display:flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      border-radius: 4px;
      margin-bottom: 20px;
    }
  }
}

.sending__address{
  padding-left: 20px;
}
.post_code{
  padding-bottom: 10px;
}

.address{
  padding-left:20px;
}

.purchase-product{
  &__wrapper{
    padding:20px 90px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    &__left{
      padding-left:20px;
      &__image{
        img{
          border-radius: 5px;
          width:150px;
          height:150px;
        }
      }
    }
    &__right{
      padding-top:20px;
      &__name{
        padding-right:160px;
        font-size: 20px;
        padding-top: 10px;
        font-weight: bold;
      }
      &__price{
        padding-right: 30px;
        padding-top:30px;
        display: flex;
        justify-content: flex-end;
        font-size:12px;
        span{
          line-height:20px;
          padding-left:10px;
          padding-right:2px;
        }
        &__value{
          line-height: 20px;
        }
      }
    }
  }
}
#purchaseDoneBtn{
  padding-top:30px;
  a{
    color:white;
  }
}
