%aside.appBanner
  .inner
    %h2.inner__title 誰でも簡単に、人生を変えるフリマアプリ
    %p.inner__text 今すぐ無料ダウンロード！
    .inner__icon
      =link_to "#", class:'linkIconaBtn' do
        = image_tag "products/app-store.svg"
      =link_to "#", class:'linkIcongBtn' do
        = image_tag "products/google-play.svg"
