.category
  .category__text
    カテゴリー
    %span.required 必須
  .category__list_box
    .category__list_box--parent
      = f.collection_select :category_id, @parents, :id, :name, {prompt:"選択してください"}, class:"text", id:"parent-form"