.sub_footer
  .wrapper
    .policy
      プライバシーポリシー
    .terms
      フリマ利用規約
    .notation
      特定商取引に関する表記
  .furima_logo
    .logo
      =link_to root_path do
        = image_tag 'products/logo-white.svg', class: 'logo-white'